body{
  background:linear-gradient(135deg,#4f46e5,#9333ea);
  padding:60px 20px;
}

.checkout-container{
  max-width:900px;
  margin:auto;
  background:#ffffff;
  padding:40px;
  border-radius:25px;
  box-shadow:0 20px 80px rgba(0,0,0,0.15);
  animation:fadeIn 0.7s ease;
}

h1{
  text-align:center;
  margin-bottom:30px;
  color:#4f46e5;
}

.checkout-item{
  display:flex;
  justify-content:space-between;
  padding:15px 0;
  border-bottom:1px solid #eee;
}

.total{
  margin-top:25px;
  display:flex;
  justify-content:space-between;
  font-weight:700;
  font-size:20px;
}

.pay-btn{
  width:100%;
  margin-top:30px;
  padding:15px;
  background:linear-gradient(90deg,#4f46e5,#9333ea);
  border:none;
  color:white;
  font-size:16px;
  border-radius:50px;
  cursor:pointer;
  transition:0.3s;
}

.pay-btn:hover{
  transform:scale(1.03);
}

/* Loader */
.loader{
  margin-top:20px;
  display:none;
  text-align:center;
}

.spinner{
  width:40px;
  height:40px;
  border:4px solid #ddd;
  border-top:4px solid #9333ea;
  border-radius:50%;
  animation:spin 1s linear infinite;
  margin:auto;
}

/* PAYMENT MODAL */
.payment-modal{
  position:fixed;
  top:-100%;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:flex;
  align-items:flex-start;
  justify-content:center;
  transition:0.5s ease;
  z-index:999;
}

.payment-modal.active{
  top:0;
}

.modal-box{
  margin-top:100px;
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  animation:drop 0.6s ease;
}

.checkmark{
  font-size:40px;
  color:#22c55e;
}

@keyframes spin{
  100%{transform:rotate(360deg);}
}

@keyframes drop{
  0%{transform:translateY(-80px);opacity:0;}
  100%{transform:translateY(0);opacity:1;}
}

@keyframes fadeIn{
  from{opacity:0;transform:translateY(30px);}
  to{opacity:1;transform:translateY(0);}
}